body {
	background-color: #D2527F;
	color: white;
}

.container {
	margin: 10px;
	width: 100%;
}


main {
	background-color: #59ABE3;
	padding: 10px;
	width: 60%;
	margin: 0 auto;
	padding: 60px;
}

hr {
	height: 3px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid white;
	padding-top: 10px;
}

.btn-default {
	margin: 50px 20px 20px;
	background-color: #D2527F;
	color: white;
	padding: 20px;
}

@media(max-width: 400px) {
	main {
		width: 100%;
	}
}

.tweet-button {
	font-size: 2em;
}

