body {
	background-color: #D2527F;
	color: white;
}

.container {
	margin: 10px;
	width: 100%;
}


main {
	background-color: #59ABE3;
	padding: 10px;
	width: 60%;
	margin: 0 auto;
	padding: 60px;
}

hr {
	height: 3px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid white;
	padding-top: 10px;
}

button {
	margin: 50px 20px 20px;
}

@media(max-width: 400px) {
	.meme-image {
		width: 320px;
		margin: 0 auto;
		height: auto;
	}

	main {
		width: 100%;
	}
}

.meme-top {
	margin-top: 20px;
}

.meme-bottom {
	margin-top: 200px;
}